body {
  font-size: 16px;
  margin: 0 auto;
  line-height: 150%;
  max-width: 750px;
  padding: 0 10px;
}

#name {
  text-align: left;
}

.header {
  margin: 0 auto;
  padding-top: 50px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.me {
  width: 25%;
  float: left;
  margin-right: 25px;
}

li.publications:not(:last-child) {
   margin-bottom: 20px;
}

h3 {
  margin-top: 50px;
}

li:not(:last-child) {
   margin-bottom: 10px;
}

.navigation {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  margin-top: 40px;
}

.navigation li {
  float: left;
  display: inline-block;
}

.navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}

.navigation li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
}

#clients {
  margin-bottom: 10px;
}

.middle-vid {
  margin: 50px auto;
}

.last-updated {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}