#name {
  text-align: left;
}

body {
  max-width: 89ch !important;
}

p, ul {
  font-size: 14px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.me {
  width: 28%;
  float: left;
  margin-right: 25px;
}

.contact {
  margin-top: 15px;
}

.contact > p {
  margin: 0;
}

.navigation {
  float: left;
  width: 100%;
  padding-bottom: 30px;
}

.navigation li {
  float: left;
  display: inline-block;
}

.navigation li a {
  display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
}

.middle-vid {
  margin: 50px auto;
}